
services:
  frontend:
    build:
      context: ./frontend  # Path to your Next.js frontend code
      dockerfile: Dockerfile
    ports:
      - "3000:3000"  # Expose the Next.js development server port
    depends_on:
      - backend
    networks:
      - my-network
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:8000  # Point to the backend service

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    networks:
      - my-network

networks:
  my-network:
    driver: bridge